---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Return & Shipping Policy';
---
<BaseLayout title={pageTitle}>
  <h1>Return & Shipping Policy</h1>
  <h2>Return Policy</h2>
  <p>We offer refund/exchange within the first 5 days from the date of your purchase. If 5 days have passed since your purchase, you will not be offered a return, exchange or refund of any kind. In order to become eligible for a return or an exchange:</p>
  <ul>
    <li>The purchased item should be unused and in the same condition as you received it.</li>
    <li>The item must have original packaging.</li>
    <li>If the item that you purchased was on sale, then the item may not be eligible for a return/exchange.</li>
    <li>Only such items are replaced by us (based on an exchange request), if such items are found defective or damaged.</li>
  </ul>
  <p>You agree that there may be a certain category of products/items that are exempted from returns or refunds. Such categories of the products would be identified to you at the time of purchase. For exchange/return accepted request(s) (as applicable), once your returned product/item is received and inspected by us, we will send you an email to notify you about receipt of the returned/exchanged product. If the same has been approved after the quality check at our end, your request (i.e. return/exchange) will be processed in accordance with our policies.</p>
  <h2>Shipping Policy</h2>
  <p>The orders for the user are shipped through registered domestic courier companies and/or speed post only. Orders are shipped within 5 days from the date of the order and/or payment or as per the delivery date agreed at the time of order confirmation and delivering of the shipment, subject to courier company/post office norms. Platform Owner shall not be liable for any delay in delivery by the courier company/postal authority. Delivery of all orders will be made to the address provided by the buyer at the time of purchase. Delivery of our services will be confirmed on your email ID as specified at the time of registration. If there are any shipping cost(s) levied by the seller or the Platform Owner (as the case be), the same is not refundable.</p>
</BaseLayout>
